app:
  name: "github-crawler"
  version: "1.0.0"

mysql:
  host: "127.0.0.1"
  port: 3306
  username: "root"
  password: "root"
  database: "github_crawler"
  max_idle_connection: 10
  max_open_connection: 100
  max_life_time_connection: 3600

github_api:
  api_url: "https://api.github.com/search/repositories?q=stars:>1&sort=stars&order=desc"
  releases_api_url: "https://api.github.com/repos/{user}/{repo}/releases"
  commits_api_url: "https://api.github.com/repos/{user}/{repo}/commits"
  access_token: ""
  requests_per_second: 10
  throttle_delay: 500
  rate_limit_reset_min: 60
